* {
  box-sizing: border-box;
  width: 90%;
}

body {
  font-family: sans-serif;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.fa {
  color: red;
  border-color: black;
}

.active {
  color: darkred;
}

.container {
  max-width: 900px;
  margin: 20px auto;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
}

.product {
  margin: 1rem;
  padding: 1rem;
  background: whitesmoke;
  border: 2px solid black;
  width: 300px;
  position: relative;
}

.search {
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.message {
  border: 1px solid grey;
  color: grey;
  margin-top: 15px;
  padding: 5px;
}

.message.error {
  border-color: red;
  color: red;
}

.no-faves-message {
  margin-top: 1.8rem;
}
